<a href="https://colab.research.google.com/github/aswin888/Python-DS/blob/main/DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>*args and *kwargs</h1>
<hr/>

In [ ]:
def test_function(*args):
  print(args)

test_function(1,2,3)

(1, 2, 3)

In [ ]:
def test_function(**kwargs):
  print(kwargs)

test_function(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
def test_function(*args,**kwargs):
  print(args,kwargs)

test_function(1,2,3,a=1,b=2,c=3)

(1, 2, 3) {'a': 1, 'b': 2, 'c': 3}

<h1>Generators
</h1>

In [ ]:
def square_numbers(nums):
  result = []
  for _ in nums:
    result.append(_*_)
  return result
nums = [1,2,3,4,5]
print(square_numbers(nums))

[1, 4, 9, 16, 25]

In [ ]:
def square_numbers(nums):
  for _ in nums:
    yield _*_

op = square_numbers([1,2,3,4,5])
for i in op:
  print(i)

1
4
9
16
25

<h1>1.Recursion</h1>
<hr>

In [ ]:
def recursiveMethod(n):
  if(n<1):
    print("n is less than 1, base condition")
  else:
    recursiveMethod(n-1)
    print(n)

recursiveMethod(4)

'''
STACK MEMORY
'''

n is less than 1, base condition
1
2
3
4

In [ ]:
def factorial(n):
  if(n == 0):
    return 1
  else:
    return n * factorial(n-1)

print(factorial(4))

24

In [ ]:
def fibo(n):
  assert n>0 and n == int(n), "Error input"
  if(n==1):
    return 0
  if(n == 2):
    return 1
  else:
    return fibo(n-1)+fibo(n-2)

print(fibo(10))

34

In [ ]:
def Sum(n):
  if(n==0):
    return 0
  else:
    return n+Sum(n-1)

print(Sum(5))

15

In [ ]:
#sum of digits in the number
def Sum(n):
  if(n==0):
    return 0
  else:
    return n%10+Sum(int(n/10))
print(Sum(111))

3

In [ ]:
def Power(c,n):
  if(n == 0):
    return 1
  else:
    return c*Power(c,n-1)

print(Power(2,3))

8

In [ ]:
#Find gcd using euclidean algorithm
# The algo: gcd(a,b) = gcd( a, a%b ) and gcd( a, 0 ) = a

def gcd(a,b):
  if(b == 0):
    return a
  else:
    return gcd(b,a%b)

print(gcd(48,18))

6

In [ ]:
#decimal to binary
def binary(n):
  if(n == 0):
    return 0
  else:
    return n%2 + 10*binary(int(n/2))

binary(13)

1101

<h1>Array</h1>
<hr>

In [ ]:
from array import *

arr1 = array('i',[1,2,3,4,5])
print(arr1)

# here 'i' is the type code which is the type pf thr content of the array

array('i', [1, 2, 3, 4, 5])

In [ ]:
arr1.append(6)
arr1
arr1.pop(5)
arr1

array('i', [1, 2, 3, 4, 5, 6, 6])

In [ ]:
arr1.insert(0,0)
arr1

array('i', [0, 0, 1, 1, 2, 3, 4, 5, 6, 6])

In [ ]:
arr1.pop(2)
arr1

'''
pop() takes index
remove() takes value
'''

array('i', [0, 1, 2, 3, 4, 5, 6])

Time Complexities
1. Array Traversal-O(n)
2. INsertion ins the beginiing - O(n)
3. Insertion at the end - O(1)
4. INsertion on a full array at the end - O(n)

In [ ]:
#Create an array and traverse
arr = array('i',[1,2,3,3,4])
arr

array('i', [1, 2, 3, 3, 4])

In [ ]:
#Access individual element through index
arr[2]

3

In [ ]:
#Append value using append() method
arr.append(5)

In [ ]:
#insert value into array using insert()
arr.insert(0,0)
arr

array('i', [0, 1, 2, 3, 3, 4, 5])

In [ ]:
#Extend python array using extend() method
arr.extend([7,8,9])
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9])

In [ ]:
# add items to array fromlist using fromlist()
lst = [10,11,12]
arr.fromlist(lst)
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9, 10, 11, 12])

In [ ]:
#remove element using remove()
arr.remove(12)
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9, 10, 11])

In [ ]:
#using pop()
arr.pop()

11

In [ ]:
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9, 10])

In [ ]:
#fetch elemnt using index()
arr.index(2)

2

In [ ]:
#reverse using revserse()
arr.reverse()
arr

array('i', [10, 9, 8, 7, 5, 4, 3, 3, 2, 1, 0])

In [ ]:
#get buffer info
arr.buffer_info()
# the (memory address, no of elements) is obtained

(140412617395616, 11)

In [ ]:
#check number of occurences
arr.count(3)

2

In [ ]:
#convert array to stinrg
print(arr.to_string())

AttributeError: ignored

In [ ]:
#array ---> list
print(arr.tolist())

[10, 9, 8, 7, 5, 4, 3, 3, 2, 1, 0]

In [ ]:
#slice elements
arr[1:5]

array('i', [9, 8, 7, 5])

In [ ]:
#find the missing number
import numpy as np

def findMissing(lst):
  sum = np.sum(lst)
  n = len(lst)+1
  SUM = n*(n+1)/2
  print('This is the missing number {}'.format(SUM-sum))

arr = np.array([1,2,3,4,5,6,7,8,10])
findMissing(arr)

This is the missing number 9.0

In [ ]:
'''
INPUT AN ARRAY AND OUTPUT THE PAIR OF NUMBERS HAVING THE SUM EQUAL TO THE TARGET
'''

def findPair(lst,target):
  for i in lst:
    for j in lst:
      if((i+j) == target):
        print((i,j))



lst = [2,6,3,9,11]
target = 9

findPair(lst,target)

(6, 3)
(3, 6)

In [ ]:
#Find the maximum product of two integers in an array
import numpy as np

def maxProduct(arr):
  max = 0
  for i in range(len(arr)):
    for j in range(i+1,len(arr)):
      if(arr[i]*arr[j] > max):
        max = arr[i]*arr[j]

  return [max,(i,j)]



arr = np.array([1,20,30,44,5,56,57,8,9,10,31,12,13,14,35,16,27,58,19,21])
maxProduct(arr)

[3306, (19, 19)]

In [ ]:
#find if the list has only unique numbers
arr = [1,20,30,44,5,56,57,8,9,10,31,12,13,14,35,16,27,58,19,21]
st = set(arr)
if(len(arr) != len(set(arr))):
  print("There are dupliactes")
else:
  print("There aren't any duplicates")

There are dupliactes

In [ ]:
#Given two strings find is one is the perumtation of another
def splitter(word):
  lst = []
  for i in word:
    lst.append(i)
  return lst.sort()

def permutationChecker(word1,word2):
  print('yes') if splitter(word1) == splitter(word2) else print('no')


word1 = 'aswin'
word2 = 'niwsa'

permutationChecker(word1,word2)

yes

In [ ]:
#Rotate matrix by 90

def edgeswap(mat): 
  mat[0][len(mat)-1],mat[0][0] = mat[0][0],mat[0][len(mat)-1]
  mat[0][0],mat[len(mat)-1][0] = mat[len(mat)-1][0],mat[0][0]
  mat[len(mat)-1][0],mat[len(mat)-1][len(mat)-1] = mat[len(mat)-1][len(mat)-1],mat[len(mat)-1][0]
  return mat

def middleswap(mat):
  n = len(mat)
  mat[n//2][n-1],mat[0][n//2] = mat[0][n//2],mat[n//2][n-1]
  mat[0][n//2],mat[n//2][0] = mat[n//2][0],mat[0][n//2]
  mat[n//2][0],mat[n-1][n//2] = mat[n-1][n//2],mat[n//2][0]
  return mat
mat = [
       [1,2,3],
       [4,5,6],
       [7,8,9]
      ]

mat = edgeswap(mat)
final_mat = middleswap(mat)
for layer in final_mat:
  print(layer)

[7, 4, 1]
[8, 5, 2]
[9, 6, 3]

In [ ]:
def firstSecond(givenList):
    # TODO
    st = set(givenList)
    lst = list(st)
    nlst = sorted(lst)
    return (nlst[0],nlst[len(nlst)-1])
givenList = [45,23,67,0,100]
firstSecond(givenList)

(0, 100)

In [ ]:
init_tuple = ()
print (init_tuple.__len__())

0

In [ ]:
init_tuple = [(0, 1), (1, 2), (2, 3)]
 
result = sum(n for _, n in init_tuple)
 
print(result)

6

<h1>Singly Linked List</h1>
<hr/>

In [ ]:
#creating a single linked list

class Node:
  def __init__(self,value=None):
    self.value = value
    self.next = None

class SingleLinkedList:
  def __init__(self):
    self.head = None
    self.tail = None

sll = SingleLinkedList()
node1 = Node(1)
node2 = Node(2)

sll.head = node1
sll.tail = node2
sll.head.next = node2

In [ ]:
'''
#Linked list insertion

class Node:
  def __init__(self,value=None):
    self.value = value
    self.next = None 

class LinkedList:
  def __init__(self):
    self.head = None
    self.tail = None

  def add_begin(self,value):
    newNode = Node(value)
    newNode.next = self.head
    self.head = newNode

  def add_end(self,value):
    newNode = Node(value)
    if self.head == None:
      newNode.next = self.head
      self.head = newNode
    else:
      n = self.head
      while n.next is not None:
        n = n.next
      n.next = newNode
    
  def traverse(self):
    if (self.head == None):
      print("The list is empty")
    else:
      index = self.head
      while index is not None:
        print("The value {} is in {} the next index is {}".format(index.value,index,index.next))
        index = index.next 

    
  def end_point(self):
    if(self.head is None):
      print("it is empty")
    else:
      print("It is not empty")
      print("Head value is {}, is and tail value is {}".format(self.head,self.tail))

linkedlist = LinkedList()
'''

In [ ]:
'''
linkedlist.add_begin(0)
linkedlist.add_end(99)
'''

In [ ]:
class Node:
  def __init__(self,value):
    self.value = value
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None

  #To insert at the beginning

  def push(self,new_data):
    new_node = Node(new_data)
    new_node.next = self.head
    self.head = new_node

  #To insert after, we are given a pointer to the node

  def insertAfter(self,prev_node,new_data):
    if prev_node is None:
      print("prev_node is None")
      return
    
    new_node = Node(new_data)
    new_node.next = prev_node.next
    prev_node.next = new_node

  #To insert at the end
  def append(self,new_data):
    new_node = Node(new_data)
    
    if self.head is None:
      self.head = new_node
      return

    index = self.head
    while index.next:
      index = index.next
    
    index.next = new_node


  #To traverse the linked list

  def traverse(self):
    index = self.head
    while index is not None:
      print("The value is {} and the index is {} and the next index is {}".format(index.value,index,index.next))
      index = index.next

  def findNode(self,val):
    index = self.head
    while index is not None:
      if (index.value == val):
        return index
      else:
        index = index.next


  def delNode(self,key):
    temp = self.head
    while temp != None:
      if (temp.value != key ):
        prev = temp
        print("The current node has value {}".format(temp.value))
        temp = temp.next
      else:
        prev.next = temp.next
        temp = None
        print("Node deleted")

  def delete_linkedlist(self):
    self.head = None
    #Garbage collection will delete the list

In [ ]:
llist = LinkedList()

# Inserts 6.  So linked list becomes 6->None
llist.append(6)

# Inserts 7 at the beginning. So linked list becomes 7->6->None
llist.push(7);
 
# Inserts 1 at the beginning. So linked list becomes 1->7->6->None
llist.push(1);
 
# Inserts 4 at the end. So linked list becomes 1->7->6->4->None
llist.append(4)
 
# Inserts 8, after 7. So linked list becomes 1 -> 7-> 8-> 6-> 4-> None
llist.insertAfter(llist.head.next, 8)

print('Created linked list is:')
llist.traverse()

Created linked list is:
The value is 1 and the index is <__main__.Node object at 0x7f716b102d90> and the next index is <__main__.Node object at 0x7f716b102d50>
The value is 7 and the index is <__main__.Node object at 0x7f716b102d50> and the next index is <__main__.Node object at 0x7f716b102e10>
The value is 8 and the index is <__main__.Node object at 0x7f716b102e10> and the next index is <__main__.Node object at 0x7f716b102cd0>
The value is 6 and the index is <__main__.Node object at 0x7f716b102cd0> and the next index is <__main__.Node object at 0x7f716b102dd0>
The value is 4 and the index is <__main__.Node object at 0x7f716b102dd0> and the next index is None

In [ ]:
print(llist.findNode(8))

<__main__.Node object at 0x7f716b102e10>

In [ ]:
llist.delNode(8)

The current node has value 1
The current node has value 7
Node deleted

In [ ]:
print('Created linked list is:')
llist.traverse()

Created linked list is:
The value is 1 and the index is <__main__.Node object at 0x7f716b102d90> and the next index is <__main__.Node object at 0x7f716b102d50>
The value is 7 and the index is <__main__.Node object at 0x7f716b102d50> and the next index is <__main__.Node object at 0x7f716b102cd0>
The value is 6 and the index is <__main__.Node object at 0x7f716b102cd0> and the next index is <__main__.Node object at 0x7f716b102dd0>
The value is 4 and the index is <__main__.Node object at 0x7f716b102dd0> and the next index is None

In [ ]:
llist.delete_linkedlist()

<h1>Circular Singly Linked List</h1>

In [63]:
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None

class CSL:

  def __init__(self):
    self.head = None
    print('created a circular linked list.')
  
  def createCSL(self, data):
    node = Node(data)
    self.head = Node
    self.tail = Node
    node.next = Node

  def push(self,data):
    temp = self.head
    while temp.next != self.head:
      temp = temp.next
    node = Node(data)
    temp.next = node
    self.tail = node
    node.next = self.head

  def insert(self,data,location):
    if (location == 0):
      #we need to insert at the start
      node = Node(data)
      node.next = self.head
      self.head = Node
      self.tail.next = node
    
    elif (location == 1):
      #we need to add at the end
      node = Node(data)
      self.tail.next = node
      self.tail = node
      node.next = self.head

    else:
      index = 0
      temp = self.head
      while index < location-1:
        temp = temp.next
        index +=1
      node.next = temp.next
      temp.next = node

  def loopthrough(self):
    temp = self.head
    while (temp.next != self.head):
      print("The current index in {} and the next index is {}.".format(temp,temp.next))
      temp = temp.next
    print(self.tail)

In [ ]:
csl1 = CSL()
csl1.createCSL(1)
csl1.push(2)
csl1.push(3)
csl1.push(4)
csl1.push(5)
csl1.loopthrough()