<a href="https://colab.research.google.com/github/aswin888/meh/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>1.Recursion</h1>
<hr>

In [ ]:
def recursiveMethod(n):
  if(n<1):
    print("n is less than 1, base condition")
  else:
    recursiveMethod(n-1)
    print(n)

recursiveMethod(4)

'''
STACK MEMORY
'''

n is less than 1, base condition
1
2
3
4

In [ ]:
def factorial(n):
  if(n == 0):
    return 1
  else:
    return n * factorial(n-1)

print(factorial(4))

24

In [ ]:
def fibo(n):
  assert n>0 and n == int(n), "Error input"
  if(n==1):
    return 0
  if(n == 2):
    return 1
  else:
    return fibo(n-1)+fibo(n-2)

print(fibo(10))

34

In [ ]:
def Sum(n):
  if(n==0):
    return 0
  else:
    return n+Sum(n-1)

print(Sum(5))

15

In [ ]:
#sum of digits in the number
def Sum(n):
  if(n==0):
    return 0
  else:
    return n%10+Sum(int(n/10))
print(Sum(111))

3

In [ ]:
def Power(c,n):
  if(n == 0):
    return 1
  else:
    return c*Power(c,n-1)

print(Power(2,3))

8

In [ ]:
#Find gcd using euclidean algorithm
# The algo: gcd(a,b) = gcd( a, a%b ) and gcd( a, 0 ) = a

def gcd(a,b):
  if(b == 0):
    return a
  else:
    return gcd(b,a%b)

print(gcd(48,18))

6

In [ ]:
#decimal to binary
def binary(n):
  if(n == 0):
    return 0
  else:
    return n%2 + 10*binary(int(n/2))

binary(13)

1101

<h1>Array</h1>
<hr>

In [3]:
from array import *

arr1 = array('i',[1,2,3,4,5])
print(arr1)

# here 'i' is the type code which is the type pf thr content of the array

array('i', [1, 2, 3, 4, 5])

In [7]:
arr1.append(6)
arr1
arr1.pop(5)
arr1

array('i', [1, 2, 3, 4, 5, 6, 6])

In [12]:
arr1.insert(0,0)
arr1

array('i', [0, 0, 1, 1, 2, 3, 4, 5, 6, 6])

In [15]:
arr1.pop(2)
arr1

'''
pop() takes index
remove() takes value
'''

array('i', [0, 1, 2, 3, 4, 5, 6])

Time Complexities
1. Array Traversal-O(n)
2. INsertion ins the beginiing - O(n)
3. Insertion at the end - O(1)
4. INsertion on a full array at the end - O(n)