<a href="https://colab.research.google.com/github/aswin888/meh/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>1.Recursion</h1>
<hr>

In [ ]:
def recursiveMethod(n):
  if(n<1):
    print("n is less than 1, base condition")
  else:
    recursiveMethod(n-1)
    print(n)

recursiveMethod(4)

'''
STACK MEMORY
'''

n is less than 1, base condition
1
2
3
4

In [ ]:
def factorial(n):
  if(n == 0):
    return 1
  else:
    return n * factorial(n-1)

print(factorial(4))

24

In [ ]:
def fibo(n):
  assert n>0 and n == int(n), "Error input"
  if(n==1):
    return 0
  if(n == 2):
    return 1
  else:
    return fibo(n-1)+fibo(n-2)

print(fibo(10))

34

In [ ]:
def Sum(n):
  if(n==0):
    return 0
  else:
    return n+Sum(n-1)

print(Sum(5))

15

In [ ]:
#sum of digits in the number
def Sum(n):
  if(n==0):
    return 0
  else:
    return n%10+Sum(int(n/10))
print(Sum(111))

3

In [ ]:
def Power(c,n):
  if(n == 0):
    return 1
  else:
    return c*Power(c,n-1)

print(Power(2,3))

8

In [ ]:
#Find gcd using euclidean algorithm
# The algo: gcd(a,b) = gcd( a, a%b ) and gcd( a, 0 ) = a

def gcd(a,b):
  if(b == 0):
    return a
  else:
    return gcd(b,a%b)

print(gcd(48,18))

6

In [ ]:
#decimal to binary
def binary(n):
  if(n == 0):
    return 0
  else:
    return n%2 + 10*binary(int(n/2))

binary(13)

1101

<h1>Array</h1>
<hr>

In [ ]:
from array import *

arr1 = array('i',[1,2,3,4,5])
print(arr1)

# here 'i' is the type code which is the type pf thr content of the array

array('i', [1, 2, 3, 4, 5])

In [ ]:
arr1.append(6)
arr1
arr1.pop(5)
arr1

array('i', [1, 2, 3, 4, 5, 6, 6])

In [ ]:
arr1.insert(0,0)
arr1

array('i', [0, 0, 1, 1, 2, 3, 4, 5, 6, 6])

In [ ]:
arr1.pop(2)
arr1

'''
pop() takes index
remove() takes value
'''

array('i', [0, 1, 2, 3, 4, 5, 6])

Time Complexities
1. Array Traversal-O(n)
2. INsertion ins the beginiing - O(n)
3. Insertion at the end - O(1)
4. INsertion on a full array at the end - O(n)

In [ ]:
#Create an array and traverse
arr = array('i',[1,2,3,3,4])
arr

array('i', [1, 2, 3, 3, 4])

In [ ]:
#Access individual element through index
arr[2]

3

In [ ]:
#Append value using append() method
arr.append(5)

In [ ]:
#insert value into array using insert()
arr.insert(0,0)
arr

array('i', [0, 1, 2, 3, 3, 4, 5])

In [ ]:
#Extend python array using extend() method
arr.extend([7,8,9])
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9])

In [ ]:
# add items to array fromlist using fromlist()
lst = [10,11,12]
arr.fromlist(lst)
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9, 10, 11, 12])

In [ ]:
#remove element using remove()
arr.remove(12)
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9, 10, 11])

In [ ]:
#using pop()
arr.pop()

11

In [ ]:
arr

array('i', [0, 1, 2, 3, 3, 4, 5, 7, 8, 9, 10])

In [ ]:
#fetch elemnt using index()
arr.index(2)

2

In [ ]:
#reverse using revserse()
arr.reverse()
arr

array('i', [10, 9, 8, 7, 5, 4, 3, 3, 2, 1, 0])

In [ ]:
#get buffer info
arr.buffer_info()
# the (memory address, no of elements) is obtained

(140412617395616, 11)

In [ ]:
#check number of occurences
arr.count(3)

2

In [ ]:
#convert array to stinrg
print(arr.to_string())

AttributeError: ignored

In [ ]:
#array ---> list
print(arr.tolist())

[10, 9, 8, 7, 5, 4, 3, 3, 2, 1, 0]

In [ ]:
#slice elements
arr[1:5]

array('i', [9, 8, 7, 5])

In [ ]:
#find the missing number
import numpy as np

def findMissing(lst):
  sum = np.sum(lst)
  n = len(lst)+1
  SUM = n*(n+1)/2
  print('This is the missing number {}'.format(SUM-sum))

arr = np.array([1,2,3,4,5,6,7,8,10])
findMissing(arr)

This is the missing number 9.0

In [ ]:
'''
INPUT AN ARRAY AND OUTPUT THE PAIR OF NUMBERS HAVING THE SUM EQUAL TO THE TARGET
'''

def findPair(lst,target):
  for i in lst:
    for j in lst:
      if((i+j) == target):
        print((i,j))



lst = [2,6,3,9,11]
target = 9

findPair(lst,target)

(6, 3)
(3, 6)